<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EmployeeMapper">
    <insert id="insertEmployee" parameterType="com.company.project.model.Employee">
        INSERT INTO employees (
            birth_date,
            first_name,
            last_name,
            gender,
            hire_date
        )
        VALUES
            (
                NOW(),
                #{first_name},#{last_name},#{gender},NOW())
    </insert>
</mapper>